<%= form_for(pic) do |f| %>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <%= f.label "Choose file:", class: "sr-only" %>
          <label class="btn btn-default">
            <span class="fa-size"><%= fa_icon('download') %></span> Upload Image
            <%= f.file_field :image, style: 'display:none;', class: 'btn btn-primary' %>
          </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="btn btn-default">
          <span class="fa-size"><%= fa_icon('floppy-o') %></span>
          <%= f.submit "", style: 'display:none;' %>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Category:", class: "sr-only" %>
        Category: <%= f.collection_select(:type_id, Type.all, :id, :title,
                                {
                                  include_blank: true
                                },
                                class: "form-control",
                                )
        %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Date:", class: "sr-only" %>
        Date: <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label "Description:", class: "sr-only" %>
        <%= f.text_area :description, class: 'form-control', placeholder: 'Description', rows: 5 %>
      </div>
    </div>
  </div>
<% end %>